<ion-header>
  <!-- ......................................................................... -->
  <!-- Barra superior, con el nombre de usuario, y opciones del perfil -->
  <ion-toolbar>
    <ion-label>
      <h3 class="title-user"> Jasa Hollow </h3>
    </ion-label>
    <img src="assets/pfp/mythra.png" id="user-pfp" slot="start">
    <ion-button (click)="options()" size="small" slot="end" fill="clear" color="dark">
      <ion-icon name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">
        <!-- Ícono de búsqueda -->
        <ion-searchbar [animated]="true" placeholder="Buscar"></ion-searchbar>
      </ion-col>
      <ion-col size="1" class="options">
        <ion-icon (click)="options()" name="options-outline" class="ico-opt"></ion-icon>
      </ion-col>
      <ion-col size="1" class="options">
        <ion-icon name="add-outline" class="ico-opt"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- ......................................................................... -->
</ion-header>

<ion-content [fullscreen]="true">
  <!-- ......................................................................... -->
  <!-- Tableros del usuario -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-list>
          <ion-card *ngFor="let t1 of tablero1">
            <img [src] = "t1.img" class="tabl-min">
            <ion-label>
              <ion-text color="dark" class="title-tab"><strong>{{ t1.title }}</strong></ion-text><br>
              <ion-text color="dark" class="pin-number">
                <strong>{{ t1.pin }}</strong> 
                {{ t1.time }} 
              </ion-text>
            </ion-label>
          </ion-card>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-card *ngFor="let t2 of tablero2">
            <img [src] = "t2.img" class="tabl-min">
            <ion-label>
              <ion-text color="dark" class="title-tab"><strong>{{ t2.title }}</strong></ion-text><br>
              <ion-text color="dark" class="pin-number">
                <strong>{{ t2.pin }}</strong> 
                {{ t2.time }} 
              </ion-text>
            </ion-label>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- ......................................................................... -->

  <!-- ................................................................ -->
  <!-- Menú de Pinterest -->
  <ion-fab vertical="bottom" slot="fixed">
    <ion-chip color="" mode="ios" outline="true">
      <ion-buttons>
        <ion-button href="inicio">
          <ion-icon name="home" class="nav-ico"></ion-icon>
        </ion-button>
        <ion-button href="search">
          <ion-icon name="search" class="nav-ico"></ion-icon>
        </ion-button>
        <ion-button href="mensajes">
          <ion-icon name="chatbubble-ellipses-outline" class="nav-ico"></ion-icon>
        </ion-button>
        <ion-button href="perfil">
          <img src="assets/pfp/mythra.png" id="user-pfp">
        </ion-button>
      </ion-buttons>
    </ion-chip>
  </ion-fab>
  <!-- ................................................................ -->
</ion-content>
