<ion-header>
  <!-- ......................................................................... -->
  <!-- Barra superior, con el nombre de usuario, así como el botón para salir del chat -->
  <ion-toolbar>
    <ion-label>
      <h3 class="title-user">{{ user }}</h3>
    </ion-label>
    <ion-button (click)="closeModal()" size="small"
      slot="start" fill="clear" color="dark">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <!-- ......................................................................... -->
</ion-header>

<!-- ......................................................................... -->
<!-- Sección de mensajes -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-avatar>
        <img [src]="img">
      </ion-avatar>
      <ion-col size="9" *ngIf="currentUser !== user" 
        class="message other-message">
        <b> {{ user }} </b>
        <p> {{ msg }} </p>
        <div class="time" text-right>
          {{ date }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let mensaje of messages">
      <ion-col offset="3" size="9" *ngIf="currentUser === mensaje.c_user"
        class="message my-message">
        <b> {{ mensaje.c_user }} </b>
        <p> {{ mensaje.c_msg }} </p>
        <div class="time">
          {{ mensaje.c_date }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- ......................................................................... -->

<!-- ......................................................................... -->
<!-- Textarea para escribir el mensaje, y su botón de envío con un evento onClick -->
<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="10">
        <ion-textarea autosize maxRows="3"
          [(ngModel)]="newMsg" class="message-input">
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="sendMessage()" expand="block" color="pinterest"
          class="msg-btn" [disabled]="newMsg === ''">
          <ion-icon name="send-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<!-- ......................................................................... -->