ion-fab {
    margin-left: 30px !important;
    margin-left: 45px;
    padding-bottom: 10px;
}

.nav-ico {
    padding-right: 5px;
    padding-left: 5px;
}

#user-pfp {
    width: 30px;
    height: 30px;
}

.nav-msg {
    font-weight: 550;
    font-size: 12px;
}

.item-msg{
    padding-top: 5px;
    padding-bottom: 5px;
}

.news {
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.news-title {
    font-size: 14px;
}

.news-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}