ion-toolbar {
    width: 100%;
}

ion-fab {
    margin-left: 30px !important;
    margin-left: 45px;
    padding-bottom: 10px;

    ion-chip {
        background-color: black;
        opacity: 0.8;
    }
}

ion-grid {
    padding-bottom: 50px ;
}

.pin-img {
    border-radius: 20px;
}

.nav-ico {
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;
}

#nav-home {
    overflow-x: scroll;
}

#user-pfp {
    width: 30px;
    height: 30px;
}

.nav-msg {
    font-size: 12px;
}