<ion-header>
  <ion-toolbar>
    <swiper [slidesPerView]="3" [pagination]="{ clickable: true }" class="mySwiper">
      <ng-template swiperSlide *ngFor="let item of items">
        <ion-button color="dark" size="small" shape="round" class="nav-msg">
          {{ item.name }}
        </ion-button>
      </ng-template>
    </swiper>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- .....................  Menú de Pinterest  ...................... -->
  <ion-fab vertical="bottom" slot="fixed">
    <ion-chip color="" mode="ios" outline="true">
      <ion-buttons>
        <ion-button href="inicio">
          <ion-icon name="home" class="nav-ico"></ion-icon>
        </ion-button>
        <ion-button href="search">
          <ion-icon name="search" class="nav-ico"></ion-icon>
        </ion-button>
        <ion-button href="mensajes">
          <ion-icon name="chatbubble-ellipses-outline" class="nav-ico"></ion-icon>
        </ion-button>
        <ion-button href="perfil">
          <img src="assets/pfp/mythra.png" id="user-pfp">
        </ion-button>
      </ion-buttons>
    </ion-chip>
  </ion-fab>
  <!-- ................................................................ -->

</ion-content>
